$spacing: (1, 2, 3, 4, 6, 8, 10, 12);

@each $space in $spacing {
  .m-#{$space} {
    margin: #{$space}rem;
  }
  .mx-#{$space} {
    margin-left: #{$space}rem;
    margin-right: #{$space}rem;
  }
  .my-#{$space} {
    margin-top: #{$space}rem;
    margin-bottom: #{$space}rem;
  }
  .p-#{$space} {
    padding: #{$space}rem;
  }
  .px-#{$space} {
    padding-left: #{$space}rem;
    padding-right: #{$space}rem;
  }
  .py-#{$space} {
    padding-top: #{$space}rem;
    padding-bottom: #{$space}rem;
  }
}

.m-auto {
  margin: auto;
}
.mx-auto {
  margin-top: auto;
  margin-bottom: auto;
}
.my-auto {
  margin-left: auto;
  margin-right: auto;
}

.p-auto {
  padding: auto;
}
.px-auto {
  padding-top: auto;
  padding-bottom: auto;
}
.py-auto {
  padding-left: auto;
  padding-right: auto;
}
